// COLORS
$navy: #000080;
$charcoal: #848282;
$smoke: #EFEFEF;
$pearl: #ffffff;
$tan: #FCF7F7;
$love: #FF0000;
$grass: #008D28;
$hitam: #1d2b36;
$slate: #555555;

// DEVICE SCREEN SIZES
$desktop: 1200px;
$tablet: 1000px;
$tablet-mini: 850px;
$mobile-xl: 650px;
$mobile: 500px;
$extra-small: 350px;