.navigation {
    height: 35px;
    width: calc(100% - 50px);
    margin: 20px auto 40px;
    @include screen-down($tablet) {
        margin: 20px auto 25px;
    }
    @include screen-down($mobile-xl) {
        margin-bottom: 20px;
        margin: 5px auto 15px;
        width: calc(100% - 25px);
    }

    .nav-icon-container {
        width: 275px;
        @include screen-down($tablet-mini) {
            width: 250px;
        }
        @include screen-down($mobile-xl) {
            display: none;
        }
        svg {
            cursor: pointer;
        }
        h2 {
            margin-top: 2px;
            font-size: 10px;
            @include screen-down($desktop) {
                font-size: 8px;
            }
        }
    }

    .searchbar {
        width: 600px;
        border-bottom: solid #EADEDE 1px;
        min-width: 200px;
        @include screen-down($tablet) {
            width: 500px;
        }
        @include screen-down($tablet) {
            width: 450px;
        }
        @include screen-down($mobile-xl) {
            width: 100%;
        }

        input {
            background: transparent;
            outline: none;
            border: none;
            height: 100%;
            width: 100%;
            letter-spacing: 0.1em;
        }

        svg {
            padding-left: 5px;
        }
    }
}